@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header__link {
  color: black;
  text-decoration: none;
  line-height: 28px;
}

/* Header finished */
/* main starts */


.about {
  height: 100vh;
  display: flex;
  align-items: center;
}


.about__content {
  display: flex;
}

.about__title {
  font-size: 72px;
  line-height: 115%;

}

.about__title_color {
  color: #FF8A56;
}