@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header__link {
  color: black;
  text-decoration: none;
  line-height: 28px;
}

/* Header finished */
/* main starts */


.about {
  height: 100vh;
  display: flex;
  align-items: center;
}


.about__content {
  display: flex;
}

.about__title {
  font-size: 72px;
  line-height: 115%;

}

.about__title_color {
  color: #FF8A56;
}

.about__text {
  margin-top: 34px;
  margin-bottom: 38px;
  width: 548px;
  font-family: "Roboto";
  line-height: 150%;
  color: #666666;
}

.about__btn {
  display: flex;
  gap: 40px;
}

.btn {
  padding: 17px 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.btn:hover {
  background: #000;
  color: white;
}
.sunnatbek__content{
  /* max-width: 1440px; */
  height: 873px;
}
.sunnatbek__title{
  font-family: 'Roboto';
  font-size: 22px;
line-height: 22px;
margin-top: 76px;
text-decoration: none;
margin-bottom: 20px;
color: #4353FF;

}
.sunnatbek__title2{
  font-family: 'Roboto';
  font-size: 54px;
line-height: 59px;
color: #000000;
margin-bottom: 85px;
}
.text{
  width: 565px;
  height: 188px;
  font-size: 36px;
line-height: 47px;
font-family: 'Roboto';

}
.sunnat {
  height: 873px;
}

.sunnat__h3 {
  font-size: 22px;
  line-height: 22px;
  margin-top: 76px;
  margin-bottom: 20px;
  color: #4353FF;
}

.sunnat__h1 {
  font-size: 54px;
  line-height: 59px;
  color: #000;
  margin-bottom: 85px;
}
.frankin {
  display: flex;
}
.jade {
  display: block;
  margin-left: 146px;
  margin-top: 30px;
}
.jade__text {
  width: 565px;
  height: 188px;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin-top: 32px;
}
.john {
  display: flex;
  margin-top: 109px;
}
.bunch__h1 {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.bunch__h2 {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-right: 285px;
}


.sunnat__button {
  width: 54px;
  height: 54px;
  padding: 19px 20px;
  cursor: pointer;
  border: none;
  margin-right: -5px;
}




