@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header__link {
  color: black;
  text-decoration: none;
  line-height: 28px;
}

/* Header finished */
/* main starts */


.about {
  height: 100vh;
  display: flex;
  align-items: center;
}


.about__content {
  display: flex;
}

.about__title {
  font-size: 72px;
  line-height: 115%;
  
}

.about__title_color {
  color: #FF8A56;
}

.about__text {
  margin-top: 34px;
  margin-bottom: 38px;
  width: 548px;
  font-family: "Roboto";
  line-height: 150%;
  color: #666666;
}

.about__btn {
  display: flex;
  gap: 40px;
}

.btn {
  padding: 17px 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.btn:hover {
  background: #000;
  color: white;
  transition: 0.3s linear;
}




.bekzod__content {
  display: flex;
  gap: 60px;
  height: 663px;
}
em {
  content: url(../img/edu-icon.png);
}
.begzod__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.begzod__left__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.begzod__left__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.left__hr {
  background: #E5E5E5;
  width: 583px;
  height: 2px;
}
.begzod__left__tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.begzod__left__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  
}
.left__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}


/* right================= */

.right__hr {
  width: 583px;
  height: 2px;
  margin-left: 80px;
}
.begzod__right {
  display: flex;
  flex-direction: column;
  
  
}

.begzod__rigth__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.begzod__right__item {
  display: flex;
  gap: 30px;
  align-items: center;
}
.begzod__right__tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.begzod__rigth__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.left__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}